@page
@model CRUDVacinas73CAllan.Pages.Vacinas.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vacina</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vacina.lote)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vacina.lote)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vacina.Quantidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vacina.Quantidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vacina.Datafabricacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vacina.Datafabricacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vacina.Datavencimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vacina.Datavencimento)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Vacina?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
